.btn,
.btn-clear {
  display: block;
  border: none;
  background: transparent;
  color: var(--nbp-text-color);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s ease-in-out, outline 0.2s ease-in-out;
  outline: 1px solid transparent;
}

.btn {
  height: 70px;
  line-height: 70px;
  font-size: 1.08em;
  font-weight: 500;
  text-transform: uppercase;

  &:hover, &:focus {
    color: var(--nbp-cyan-color);
  }

  &:focus {
    outline: 1px solid var(--nbp-cyan-color);
  }
}
