@mixin make-color-classes($name, $color) {
  .text-#{$name} {
    &, &-hover:hover, &-all-state:focus, &-all-state:hover {
      fill: $color;
      color: $color;
    }
  }

  .bg-#{$name} {
    &, &-hover:hover, &-all-state:focus, &-all-state:hover {
      background-color: $color;
    }
  }
}

@include make-color-classes("blue", var(--nbp-blue-color));
@include make-color-classes("cyan", var(--nbp-cyan-color));
@include make-color-classes("green", var(--nbp-green-color));
@include make-color-classes("orange", var(--nbp-orange-color));
@include make-color-classes("mint", var(--nbp-mint-color));
@include make-color-classes("brown", var(--nbp-brown-color));
