.page {
  padding: 5vh;

  @media (max-width: $nbp-mobile-breakpoint) {
    padding: 0;
  }
}

.container {
  display: flex;
  width: 100%;
  max-width: 1268px;
  min-height: 90vh;
  margin: 0 auto;

  @media (max-width: $nbp-tablet-breakpoint) {
    flex-direction: column;
    align-items: center;
    max-width: 720px;
  }
}

.scroll-container {
  height: 100%;

  overflow-x: hidden;
  overflow-y: scroll;
}