.text-center {
  text-align: center;
}

.text-thin {
  font-weight: 200;
}

.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 600;
}

.text-bolder {
  font-weight: 700;
}